.actions {
  display: flex;
  align-items: center;
  gap: 9px;
  flex-wrap: wrap;


  &__price {
    margin-right: 12px;
    font-weight: 700;
    font-size: clamp(1.375rem, 1.133rem + 1.08vw, 2rem);
  }

  &__btn {
    font-weight: 600;
    font-size: 20px;

  }

  &__favorite.card-favorite {
    padding: 11px;
    width: 44px;
    height: 42px;
    border-radius: 100%;
    border: 1px solid $alto;
  }
}