.cart {
  margin-bottom: clamp(4.375rem, 2.101rem + 10.11vw, 10.25rem);

  &__box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__content {
    width: 66.13%;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: clamp(1.375rem, 0.988rem + 1.72vw, 2.375rem);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__btn {
    padding: 10px;
    height: 42px;
    display: flex;
    align-items: center;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // flex-wrap: wrap;
  }

  &__favorite {
    width: 44px;
    height: 42px;
    background-color: $white;
    border-radius: 100%;
    border: 1px solid $alto;
    flex-shrink: 0;
  }

  &__delite {
    // align-self: center;

    svg {
      fill: $yellow;
      @include transition ($transition-property: color);
    }


    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: $red;
        }
      }
    }
  }

  &__check {
    width: 32%;
  }
}