.catalog {

  // margin-top: 62px;
  margin-top: clamp(0.063rem, -1.413rem + 6.56vw, 3.875rem);
  margin-bottom: 50px;
  // position: relative;


  &__head {
    // position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    // margin-bottom: 49px;
    margin-bottom: clamp(0.938rem, 0.115rem + 3.66vw, 3.063rem);
  }

  &__view {
    // position: absolute;
    top: -105px;
    // right: -32px;
    right: 10px;
    margin-top: -15px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 14px;
  }

  &__aside {
    min-width: 314px;

  }

  &__content {


    .mixitup-control-active {
      border: 1px solid var(--yellow);
      background: var(--yellow);
      color: var(--white);
    }
  }




  &__list {
    display: flex;
    flex-wrap: wrap;
    // gap: 25px;
    gap: clamp(0.813rem, 0.522rem + 1.29vw, 1.563rem);
  }

  &__pagination {
    margin-top: 55px;
    display: flex;
    // gap: 24px;
    gap: clamp(0.625rem, 0.286rem + 1.51vw, 1.5rem);

    &-item {
      padding: 9px 15px;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      color: $muddy-waters;

      border-radius: 7px;

      background-color: transparent;
    }

    &-item--further {
      padding: 9px 20px;
    }


  }

  .tabs-buttons__list {
    margin-bottom: 28px;
    gap: 16px 10px;
    flex-wrap: wrap;
    width: 962px;
  }

  &__pagination-item.active {
    color: $white;
    background-color: $yellow;
  }

  @media screen and (width < 878.99px) {
    &__aside {
      display: none;
    }

    &__content {
      width: 100%;
    }

    .tabs-buttons__list {
      width: 100%;
      flex-wrap: nowrap;
      padding-bottom: 10px;
    }

    &__list {
      justify-content: center;
    }
  }

  @media screen and (width < 768.99px) {
    &__head {
      flex-direction: column;
      margin-bottom: 15px;
    }
  }
}




.jq-selectbox__select {
  // width: clamp(8.188rem, 6.518rem + 7.42vw, 12.5rem);
  height: clamp(1.625rem, 1.335rem + 1.29vw, 2.375rem);
  display: flex;
  align-items: center;
  @extend %second-family-600;
  // height: 38px;
  // padding: 8px 25px;
  // padding: clamp(0.188rem, 0.067rem + 0.54vw, 0.5rem) clamp(0.313rem, -0.171rem + 2.15vw, 1.563rem);
  border: 1px solid rgba(255, 169, 0, 0.45);
  border-radius: 16px;
  // font-size: 16px;
  font-size: clamp(0.75rem, 0.653rem + 0.43vw, 1rem);
  letter-spacing: .03em;
  color: $text;
  background: $serenade;
  box-shadow: none;
  // color: rgba(0, 0, 0, 0.50);
  text-shadow: none;
  @include transition ($transition-property: (background-color, color));

  @media (any-hover: hover) {
    &:hover {
      border: 1px solid rgba(255, 169, 0, .45);
      background: #ffe8bc !important;
    }
  }
}

.jq-selectbox__select-text {
  width: 100% !important;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 100%;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  content: url(../images/icons/arrow-select.svg);
  top: 50%;
  transform: translateY(-50%);
  // right: 10px;
  right: clamp(0.188rem, -0.456rem + 1.34vw, 0.625rem);
  // width: 7px;
  width: clamp(0.25rem, 0.105rem + 0.65vw, 0.625rem);
  // height: 12px;
  height: clamp(0.438rem, 0.317rem + 0.54vw, 0.75rem);
  border: none;
  font-weight: 400;
}

.jq-selectbox__dropdown {
  font-size: 14px;
  background: $serenade;
  @extend %second-family-600;
  border: 1px solid rgba(255, 169, 0, 0.45);
}

.jq-selectbox li.selected {
  // background-color: $yellow !important;
  color: #fff;
}


select {
  border: 1px solid rgba(255, 169, 0, 0.45);
}