.catalog {

  margin-top: 62px;
  margin-bottom: 50px;
  // position: relative;


  &__head {
    // position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 49px;
  }

  &__view {
    // position: absolute;
    top: -105px;
    // right: -32px;
    right: 10px;
    margin-top: -15px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 14px;
  }

  &__aside {
    min-width: 314px;

  }

  &__content {


    .mixitup-control-active {
      border: 1px solid var(--yellow);
      background: var(--yellow);
      color: var(--white);
    }
  }




  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  &__pagination {
    margin-top: 55px;
    display: flex;
    gap: 24px;

    &-item {
      padding: 9px 15px;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      color: $muddy-waters;

      border-radius: 7px;

      background-color: transparent;
    }

    &-item--further {
      padding: 9px 20px;
    }
  }

  .tabs-buttons__list {
    margin-bottom: 28px;
    gap: 16px 10px;
    flex-wrap: wrap;
  }

  &__pagination-item.active {
    color: $white;
    background-color: $yellow;
  }
}




.jq-selectbox__select {
  display: flex;
  align-items: center;
  @extend %second-family-600;
  height: 38px;
  padding: 8px 25px;
  border: 1px solid rgba(255, 169, 0, 0.45);
  border-radius: 16px;
  font-size: 16px;
  letter-spacing: .03em;
  color: $text;
  background: $serenade;
  box-shadow: none;
  // color: rgba(0, 0, 0, 0.50);
  text-shadow: none;
  @include transition ($transition-property: (background-color, color));

  @media (any-hover: hover) {
    &:hover {
      border: 1px solid rgba(255, 169, 0, .45);
      background: #ffe8bc !important;
    }
  }
}

.jq-selectbox__select-text {
  width: 100% !important;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  height: 100%;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  content: url(../images/sprite/arrow-next.svg);
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 7px;
  height: 12px;
  border: none;
  color: $text;
}

.jq-selectbox__dropdown {
  font-size: 14px;
  background: $serenade;
  @extend %second-family-600;
  border: 1px solid rgba(255, 169, 0, 0.45);
}

.jq-selectbox li.selected {
  // background-color: $yellow !important;
  color: #fff;
}


select {
  border: 1px solid rgba(255, 169, 0, 0.45);
}