.catalog-menu {
  position: relative;

  &__btn-main {
    position: relative;
  }

  &__ground {
    position: absolute;
    width: 53.33vw;
    padding: 41px 10px 28px 37px;
    top: 58px;
    left: -140%;
    border-radius: 14px;
    height: 403px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: var(--white);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    @include transition ($transition-property: (visibility, opacity));
  }

  &__list {
    width: 48%;
    height: 343px;
    padding-right: 23px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      // background-color: #FF9E9E;
      background-color: #e0e0e0;
      border-radius: 9px;

    }

    &::-webkit-scrollbar-track {

      // background-color: var(--scroll-track);
      background-color: #e0e0e0;
      border-radius: 9px;
    }


  }

  .catalog-menu__ground.catalog-menu__ground--open {
    opacity: 1;
    visibility: visible;
  }


  // position: relative;


  &__item {

    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__svg {
    display: inline-block;
    fill: currentColor;
  }

  &__btn-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    @extend %second-family-600;
    color: var(--cod-gray);
    @include transition ($transition-property: color);

    &--active {
      color: var(--red);
    }
  }
}