.catalog-menu {

  &__item {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__svg {}

  &__btn-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    // font-family: var(--second-family);
    // font-weight: 600;
    @extend %second-family-600;
    // font-size: 20px;
    color: #0a0a0a;
  }
}