.catalog {
  margin-top: 50px;
  margin-bottom: 50px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__aside {
    min-width: 314px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
}

.catalog-subcategory-list {
  display: flex;
}