.header {
  padding-top: 23px;
  padding-bottom: 29px;


  &__top {
    display: flex;
    align-items: center;
    // color: var(--white);
  }

  &__catalog-btn {
    margin-right: 26px;
  }

  &__search-form {
    margin-right: 26px;
  }

  &__actions {
    display: flex;
    gap: 14px;
  }

  &__bottom {
    margin-top: 20px;
  }
}