.header {
  // padding-top: 23px;
  padding-top: clamp(0.438rem, 0.05rem + 1.72vw, 1.438rem);
  // padding-bottom: 25px;
  padding-bottom: clamp(1.313rem, 1.216rem + 0.43vw, 1.563rem);


  &__top {
    display: flex;
    align-items: center;
    // color: var(--white);
  }

  &__tablet {
    display: none;
  }

  &__catalog-btn {
    // margin-right: 26px;
    margin-right: clamp(0.5rem, -2.542rem + 6.34vw, 1.625rem);
  }

  &__search-form {
    // margin-right: 26px;
    margin-right: clamp(0.5rem, -2.542rem + 6.34vw, 1.625rem);
  }

  &__actions {
    display: flex;
    gap: 14px;
  }

  &__bottom {
    margin-top: 20px;
  }

  &__favorite {
    width: 50px;
    height: 48px;
  }

  @media screen and (width < 1290.99px) {
    &__top {
      justify-content: space-around;
    }
  }

  @media screen and (width < 768.99px) {
    &__favorite {
      svg {
        color: $grandis;
      }
    }

    .favorite {
      border: none;
    }

    &__tablet {
      display: block;
    }
  }
}

.header-tablet {
  padding: 14px 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;


}