  .hero {
    padding-top: 25px;
    padding-bottom: 55px;

    &__inner {
      display: flex;
      gap: 24px;
    }

    &-slider {
      // position: relative;
      width: 934px;
      // overflow: hidden;
    }

    &-slide {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 26px;
    }

    &__title {
      width: 488px;
      margin-bottom: 24px;

    }

    &__content {
      padding-top: 110px;
      padding-bottom: 87px;
      padding-left: 52px;
      //   padding-top: clamp(4.375rem, 1.078rem + 16.48vw, 13.75rem);
      //   padding-bottom: clamp(6.25rem, 0.668rem + 27.91vw, 22.125rem);
      //   max-width: 580px;
      //   z-index: 2;
    }

    &-arrow {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      background-color: $serenade;
      border-radius: 100%;
      border: 1px solid #FFF1D6;
      z-index: 2;
      @include transition ($transition-property: (border, background-color));

      @media (any-hover: hover) {
        &:hover {
          border: 1px solid rgba(255, 169, 0, 0.45);
          background-color: #ffe8bc;
        }
      }


      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }

    .swiper {
      margin: 0;
    }

    .swiper-pagination {
      text-align: left;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 35px;
      left: 52px;
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
      background: rgb(255, 255, 255);
      opacity: var(--swiper-pagination-bullet-inactive-opacity, .6);
    }

    .swiper-pagination-bullet-active {
      border-radius: 43px;
      width: 32px;
      opacity: var(--swiper-pagination-bullet-opacity, 1);
      background: var(--white);
    }

    &__left {
      width: 404px;
    }
  }