.hero-invitations {
  width: 100%;

  &__item {
    max-width: 404px;
    width: 100%;

    @media screen and (width > 768.99px) {
      &:not(:last-child) {
        margin-bottom: 23px;
      }
    }
  }

  &__link {
    position: relative;
    width: 100%;
    height: clamp(5.375rem, 2.181rem + 14.19vw, 13.625rem);

    font-weight: 700;
    font-size: clamp(0.75rem, 0.363rem + 1.72vw, 1.75rem);
    line-height: 1.3;
    border-radius: clamp(0.625rem, 0.238rem + 1.72vw, 1.625rem);
  }


  &__link--cashback {
    background: url(../images/hero/bg-sale.jpg) left center / cover no-repeat;
  }

  &__link--review {
    background: url(../images/hero/bg-star.jpg) left center / cover no-repeat;
  }

  &__text {
    display: inline-block;
    left: clamp(0.625rem, 0.262rem + 1.61vw, 1.563rem);
  }

  &__text--cashback {
    position: absolute;
    content: '';
    top: 40%;
    color: #3e5828;
  }

  &__text--review {
    position: absolute;
    content: '';
    top: 55%;
    color: var(--white);
  }

  @media screen and (width < 768.99px) {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: space-between;
  }
}