  .hero {
    padding-top: clamp(1.375rem, 1.302rem + 0.32vw, 1.563rem);

    &__inner {
      display: flex;
      // gap: 24px;
      gap: clamp(0.813rem, 0.546rem + 1.18vw, 1.5rem);
    }

    &-slider {
      // position: relative;
      max-width: 934px;
      // width: clamp(20.188rem, 5.405rem + 65.7vw, 58.375rem);
      // overflow: hidden;
    }

    &-slide {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: clamp(0.625rem, 0.238rem + 1.72vw, 1.625rem);
    }

    &__title {
      max-width: clamp(11.563rem, 4.232rem + 32.58vw, 30.5rem);
      // margin-bottom: 24px;
      margin-bottom: clamp(1.125rem, 0.98rem + 0.65vw, 1.5rem);

    }

    &__content {
      // padding-top: 110px;
      padding-top: clamp(2.75rem, 1.153rem + 7.1vw, 6.875rem);
      // padding-bottom: 87px;
      padding-bottom: clamp(1rem, -0.718rem + 7.63vw, 5.438rem);
      // padding-left: 52px;
      padding-left: clamp(1.563rem, 0.909rem + 2.9vw, 3.25rem);
      //   padding-top: clamp(4.375rem, 1.078rem + 16.48vw, 13.75rem);
      //   padding-bottom: clamp(6.25rem, 0.668rem + 27.91vw, 22.125rem);
      //   max-width: 580px;
      //   z-index: 2;
    }


    &__btn {
      width: clamp(8.125rem, 4.69rem + 15.27vw, 17rem);
      height: clamp(2.125rem, 1.593rem + 2.37vw, 3.5rem);

      @media screen and (width < 768.99px) {
        &--desktop {
          display: none;
        }
      }

      @media screen and (width > 768.99px) {
        &--mobile {
          display: none;
        }
      }
    }

    &-arrow {
      position: absolute;
      top: 45%;
      transform: translate(0, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      background-color: $serenade;
      border-radius: 100%;
      border: 1px solid #FFF1D6;
      z-index: 2;
      @include transition ($transition-property: (border, background-color));

      @media (any-hover: hover) {
        &:hover {
          border: 1px solid rgba(255, 169, 0, 0.45);
          background-color: #ffe8bc;
        }
      }

      @media screen and (width < 768.99px) {
        display: none;
      }

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }


    .swiper {
      margin: 0;
    }

    .swiper-pagination {
      text-align: left;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 13%;
      left: 5.5%;

      @media screen and (width < 768.99px) {
        bottom: 0;
        left: 0;
      }
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);

      @media screen and (width < 768.99px) {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
      }
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
      background: rgb(255, 255, 255);
      opacity: var(--swiper-pagination-bullet-inactive-opacity, .6);

      @media screen and (width < 768.99px) {
        width: 7px;
        height: 7px;
        background: rgba(255, 4, 0, 0.6);
      }
    }

    .swiper-pagination-bullet-active {
      border-radius: 43px;
      width: 32px;
      opacity: var(--swiper-pagination-bullet-opacity, 1);
      background: var(--white);

      @media screen and (width < 768.99px) {
        width: 24px;
        border-radius: 30px;
        background: $red;
      }
    }

    &__left {
      max-width: 404px;
      width: 100%;
    }

    @media screen and (width < 768.99px) {
      &__inner {
        flex-direction: column;
      }

      &-slider {
        padding-bottom: 21px;
      }

      &__left {
        max-width: none;
        width: 100%;
      }
    }
  }

  .hero-arrow--next.swiper-button-disabled,
  .hero-arrow--prev.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: auto;
  }