.receiving {
  position: relative;
  display: flex;
  color: var(--white);

  &__main {
    &::before {
      display: inline-block;
      content: '';
      background-color: rgba(255, 169, 0, 0.7);
      width: 65px;
      height: 48px;
      background: url(../images/icons/geolocation.svg) center center / 24px 24px no-repeat rgba(255, 169, 0, 0.7);
      border-radius: 16px 0 0 16px;
    }
  }

  &__secondary {
    width: 230px;
    height: 48px;
    padding-top: 6px;
    background: var(--yellow);
    border-radius: 0 16px 16px 0;
  }

  &__text {
    display: block;
    @extend %second-family-400;
    font-size: 14px;
  }

  &__title {
    display: block;
    @extend %second-family-700;
    font-size: 16px;
  }



  &__map {
    position: relative;
    overflow: hidden;
    padding-top: 34.9%;
    border-radius: 0 20px 20px 0;
    width: 765px;
    height: 805px;
    background-color: $serenade;
  }


}

.receiving-content {
  justify-content: space-between;

  &__left {
    padding: 33px 33px 56px;
  }
}

.receiving-tabs {
  display: flex;
  justify-content: space-between;
  gap: 15px;


  &__buttons {
    max-width: 221px;
    width: 100%;
    padding: 16px 25px;
    font-weight: 700;
    font-size: clamp(1rem, 0.903rem + 0.43vw, 1.25rem);
    color: var(--cod-gray);
    border: 1px solid rgba(255, 169, 0, 0.45);
    border-radius: 16px;
    background-color: $serenade;

    // height: 87px;
    &.mixitup-control-active {
      border: 1px solid var(--yellow);
      background: var(--yellow);
      color: var(--white);
    }
  }

  &__buttons-text {
    font-weight: 600;
    font-size: clamp(0.75rem, 0.653rem + 0.43vw, 1rem);
  }
}