.section-freezing {
  padding-top: 180px;
  padding-bottom: 55px;

  &__inner-title {
    margin-bottom: 56px;
  }

  .section-catalog__link {
    color: $martinique;
    border: 1px solid $moon-raker;
    background-color: $titan-white;


    &--child1 {
      padding-right: 113px;
      background-image: -webkit-image-set(url(../images/cooking/image1@1x.png) 1x, url(../images/cooking/image1@2x.png) 2x);
    }

    &--child2 {
      padding-right: 53px;
      background-image: -webkit-image-set(url(../images/cooking/image2@1x.png) 1x, url(../images/cooking/image2@2x.png) 2x);
    }

    &--child3 {
      padding-right: 65px;
      background-image: -webkit-image-set(url(../images/cooking/image3@1x.png) 1x, url(../images/cooking/image3@2x.png) 2x);
    }

    &--child4 {
      padding-right: 110px;
      background-image: -webkit-image-set(url(../images/cooking/image4@1x.png) 1x, url(../images/cooking/image4@2x.png) 2x);
    }

    &--child5 {
      padding-right: 106px;
      background-image: -webkit-image-set(url(../images/cooking/image5@1x.png) 1x, url(../images/cooking/image5@2x.png) 2x);
    }

    &--child6 {
      padding-right: 116px;
      background-image: -webkit-image-set(url(../images/cooking/image6@1x.png) 1x, url(../images/cooking/image6@2x.png) 2x);
    }
  }
}