.section-stock {
  padding-top: 128px;
  padding-bottom: 55px;

  &__inner-title {
    margin-bottom: 20px;
  }
}

.stock-swiper__nav {
  margin-left: auto;
  padding: 9px 8px;
  color: $yellow;
  border: 1px solid #ffe7b9;
  border-radius: 58px;
  background: #fff8eb;
}

.stock-swiper__btn {

  @media (any-hover: hover) {
    &:hover svg {
      color: $white;
      background-color: $yellow;
    }
  }

  svg {
    width: 29px;
    height: 29px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 9px 8px;

    @include transition ($transition-property: (color, background-color));
  }
}

.stock-swiper-prev {
  svg {
    transform: rotate(180deg);
  }
}