.section-cooking {
  // padding-top: 180px;

  .section-catalog__link {
    color: $old-copper;
    border: 1px solid $peach;
    background-color: $serenade;


    &--child1 {
      background-image: -webkit-image-set(url(../images/cooking/image1@1x.png) 1x, url(../images/cooking/image1@2x.png) 2x);
    }

    &--child2 {
      background-image: -webkit-image-set(url(../images/cooking/image2@1x.png) 1x, url(../images/cooking/image2@2x.png) 2x);
    }

    &--child3 {
      background-image: -webkit-image-set(url(../images/cooking/image3@1x.png) 1x, url(../images/cooking/image3@2x.png) 2x);
    }

    &--child4 {
      background-image: -webkit-image-set(url(../images/cooking/image4@1x.png) 1x, url(../images/cooking/image4@2x.png) 2x);
    }

    &--child5 {
      background-image: -webkit-image-set(url(../images/cooking/image5@1x.png) 1x, url(../images/cooking/image5@2x.png) 2x);
    }

    &--child6 {
      background-image: -webkit-image-set(url(../images/cooking/image6@1x.png) 1x, url(../images/cooking/image6@2x.png) 2x);
    }

    &--child7 {
      background-image: -webkit-image-set(url(../images/cooking/image7@1x.png) 1x, url(../images/cooking/image7@2x.png) 2x);
    }

    &--child8 {
      background-image: -webkit-image-set(url(../images/cooking/image8@1x.png) 1x, url(../images/cooking/image8@2x.png) 2x);
    }
  }
}