.section-freezing {
  // padding-top: 180px;
  padding-top: clamp(4.063rem, 1.28rem + 12.37vw, 11.25rem);

  &__inner-title {
    margin-bottom: clamp(1.25rem, 1.008rem + 1.08vw, 1.875rem);
  }

  .section-catalog__link {
    color: $martinique;
    border: 1px solid $moon-raker;
    background-color: $titan-white;


    &--child1 {
      background-image: -webkit-image-set(url(../images/freezing/image1@1x.png) 1x, url(../images/freezing/image1@2x.png) 2x);
    }

    &--child2 {
      background-image: -webkit-image-set(url(../images/freezing/image2@1x.png) 1x, url(../images/freezing/image2@2x.png) 2x);
    }

    &--child3 {
      background-image: -webkit-image-set(url(../images/freezing/image3@1x.png) 1x, url(../images/freezing/image3@2x.png) 2x);
    }

    &--child4 {
      background-image: -webkit-image-set(url(../images/freezing/image4@1x.png) 1x, url(../images/freezing/image4@2x.png) 2x);
    }

    &--child5 {
      background-image: -webkit-image-set(url(../images/freezing/image5@1x.png) 1x, url(../images/freezing/image5@2x.png) 2x);
    }

    &--child6 {
      background-image: -webkit-image-set(url(../images/freezing/image6@1x.png) 1x, url(../images/freezing/image6@2x.png) 2x);
    }
  }
}