.specification {
  &__chars {
    font-size: clamp(1rem, 0.903rem + 0.43vw, 1.25rem);

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__term {
    display: inline-block;
  }

  &__descr {
    display: inline;
    line-height: 1.4;
  }
}