.vacancy {
  height: 100%;
  width: 307px;
  display: flex;
  flex-direction: column;
  padding: 34px 20px 33px 33px;
  align-items: flex-start;
  border-radius: 30px;
  background-position: top 41% right;
  background-repeat: no-repeat;
  background-size: auto;

  @include transition ($transition-property: (box-shadow, transform));

  @media (any-hover: hover) {
    &:hover {
      transform: skewY(-3deg) rotateY(20deg);
      box-shadow: var(--box-shadow);
    }
  }


  &__article-box {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;

    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  &__descr {
    font-size: 20px;
    line-height: 1.2;
    text-wrap: balance;
  }

  &__btn {
    margin-top: auto;
  }
}