.container {
  max-width: 1290px;
  // max-width: calc(1290px + 30px);
  // padding-right: 15px;
  // padding-left: 15px;
  // max-width: 1230px;
  margin: 0 auto;

  // outline: 1px solid brown;

  @media screen and (width < 1024.99px) {
    max-width: calc(1290px + 30px);
    padding-right: 15px;
    padding-left: 15px;
  }
}