.application-form {

  &__label {
    display: inline-block;
    width: 100%;
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__input {
    width: 100%;
    // padding: 17px 5px 12px 20px;
    padding: clamp(0.625rem, 0.456rem + 0.75vw, 1.063rem) 5px 12px clamp(0.625rem, 0.383rem + 1.08vw, 1.25rem);
    font-size: clamp(1rem, 0.903rem + 0.43vw, 1.25rem);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);

    border-radius: 10px;
    background-color: var(--white);
    border: none;

    &--name {
      text-transform: uppercase;
    }
  }


  &__select {
    width: 100%;
    font-weight: 600;
    font-size: clamp(1rem, 0.903rem + 0.43vw, 1.25rem);
    color: rgba(0, 0, 0, 0.5);
  }

  .jq-selectbox:focus-visible {
    outline: 1px solid rgba(255, 169, 0, .45);
  }

  select {
    border: none;
  }

  .jq-selectbox__select {
    width: 100%;
    display: flex;
    align-items: center;
    max-height: 56px;
    // padding: 17px 5px 12px 20px;
    padding: clamp(0.625rem, 0.456rem + 0.75vw, 1.063rem) 5px 12px clamp(0.625rem, 0.383rem + 1.08vw, 1.25rem);
    border: none;
    border-radius: 10px;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.5);
    background: $white;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);

    @media (any-hover: hover) {
      &:hover {
        border: none;
        background: $white !important;
      }
    }
  }

  .jq-selectbox__dropdown {
    width: 100% !important;
    font-size: inherit;
    background: $white;
    border: 1px solid rgba(255, 169, 0, .45);
  }

  .checkbox__text {
    display: inline;
    font-family: var(--second-family);
    font-weight: 400;
    // font-size: 16px;
    font-size: clamp(0.75rem, 0.653rem + 0.43vw, 1rem);
    color: var(--text);
  }

  &__bottom {
    // margin-top: 27px;
    margin-top: clamp(0.5rem, 0.04rem + 2.04vw, 1.688rem);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 26px;
  }

  .policy {
    display: inline-flex;
    text-decoration: underline .3px solid $text;
    text-underline-offset: 3px;
  }

  &__btn {
    padding: 9px 39px 14px 40px;
    // font-size: 20px;
    font-size: clamp(1rem, 0.903rem + 0.43vw, 1.25rem);
    font-weight: 600;
  }

  .application-form__btn--inside {
    display: none;
  }

  .jq-selectbox__trigger-arrow {
    content: url('../images/icons/trigger-arrow.svg');
    width: 12px;
    height: 9px;
  }
}