.btn {
  padding: 12px;
  @extend %second-family-600;
  font-size: 18px;
  text-align: center;
  color: var(--white);

  border-radius: 16px;
  // width: 264px;
  // height: 46px;
  background-color: $red;
}

.btn-main {
  padding: 14px 19px 12px 48px;

  width: 132px;
  height: 48px;
  @extend %second-family-800;
  font-size: 16px;
  color: var(--white);
  background-color: var(--red);
  border-radius: var(--border-radius);

  &__line {
    position: absolute;
    left: 22px;
    width: 18px;
    height: 2px;
    border-radius: var(--border-radius);
    background: var(--white);
    @include transition ($transition-property: transform);

    &:nth-child(1) {
      top: 18px;
    }

    &:nth-child(2) {
      top: 23px;
    }

    &:nth-child(3) {
      top: 23px;
    }

    &:nth-child(4) {
      top: 28px;
    }
  }


  &-open &__line:nth-child(1) {
    transform: scaleX(0);
  }

  &-open &__line:nth-child(2) {
    transform: rotate(45deg);
  }

  &-open &__line:nth-child(3) {
    transform: rotate(-45deg);
  }

  &-open &__line:nth-child(4) {
    transform: scaleX(0);
  }

  // &-open .menu {
  //   transform: translateY(0%);
  // }
}

.btn-transparent {
  padding: 14px 28px;
  @extend %second-family-600;
  font-size: 22px;
  border-radius: 31px;
  background-color: transparent;

  &--bg-white {
    color: var(--white);
    border: 2px solid var(--white);
  }
}

.see-all {
  @extend %font3-500;
  font-size: 22px;
  color: #da9000;
  padding: 9px 23px 12px 21px;

  border: 1px solid #ffe7b9;
  border-radius: 16px;
  background: #fff8eb;

  .icon-see-all {
    display: inline-block;
    margin-left: 15px;
  }
}


.tabs-buttons__list {
  display: flex;
  gap: 15px;
}

.tabs-buttons {
  width: 221px;
  height: 87px;
  padding: 16px 22px;
  @extend %second-family-700;
  font-size: 20px;
  color: var(--cod-gray);
  border-radius: 16px;
  background-color: var(--serenade);
  border: 1px solid rgba(255, 169, 0, 0.45);
  text-align: left;
  @include transition ($transition-property: (border-color, border, color));

  // &--delivery {
  //   border: 1px solid var(--yellow);
  //   background: var(--yellow);
  // }
  &__text {
    display: block;
    margin-top: 6px;
    @extend %second-family-600;
    font-size: 16px;
  }
}

.mixitup-control-active {
  border: 1px solid var(--yellow);
  background: var(--yellow);
  color: var(--white);
}