.card {
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid $alto;
  // border-radius: 20px;
  border-radius: clamp(0.688rem, 0.47rem + 0.97vw, 1.25rem);
  // width: 304px;
  // min-height: 406px;
  width: clamp(9.75rem, 6.169rem + 15.91vw, 19rem);
  height: clamp(15.438rem, 11.591rem + 17.1vw, 25.375rem);
  background: var(--white);



  &__favorite {
    position: absolute;
    // top: 27px;
    // right: 18px;
    top: 5%;
    right: 7%;
  }

  &__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }

  &__img-cover {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    // width: 302px;
    // height: 220px;
    width: clamp(9.563rem, 5.958rem + 16.02vw, 18.875rem);
    height: clamp(7.063rem, 4.474rem + 11.51vw, 13.75rem);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__box {
    // padding: 0 19px;
    padding: 0 clamp(0.563rem, 0.321rem + 1.08vw, 1.188rem);
  }

  &__body-inner {
    // margin-bottom: 11px;
    margin-bottom: clamp(0.375rem, 0.254rem + 0.54vw, 0.688rem);
    display: flex;
    justify-content: space-between;

    // адаптив
    // width: 100%;
    //   display: flex;
    //   flex-direction: row-reverse;
    //   justify-content: space-between;
  }

  &__span {
    // font-size: 14px;
    font-size: clamp(0.5rem, 0.355rem + 0.65vw, 0.875rem);
    color: $tundora;
  }



  &__footer {
    // margin-top: 13px;
    margin-top: clamp(0.563rem, 0.466rem + 0.43vw, 0.813rem);
    // padding: 0 19px 21px 19px;
    padding: 0 clamp(0.563rem, 0.321rem + 1.08vw, 1.188rem) clamp(0.75rem, 0.532rem + 0.97vw, 1.313rem) clamp(0.563rem, 0.321rem + 1.08vw, 1.188rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6px;

  }


  &__price,
  &__price-old {
    display: block;
  }

  &__price {
    font-weight: 600;
    // font-size: 24px;
    font-size: clamp(0.813rem, 0.546rem + 1.18vw, 1.5rem);

    &--red {
      color: $guardsman-red;
    }
  }

  &__price-old {
    // font-size: 14px;
    // font-size: clamp(0.5rem, 0.355rem + 0.65vw, 0.875rem);
    text-decoration: line-through;
  }

  &__btn {
    // padding: 9px 15px 11px;
    padding: clamp(0.5rem, 0.476rem + 0.11vw, 0.563rem) 15px clamp(0.5rem, 0.427rem + 0.32vw, 0.688rem);
    // font-size: 16px;
    font-size: clamp(0.813rem, 0.74rem + 0.32vw, 1rem);
  }

  &__btn--tomorrow {
    display: none;
  }
}

.card--tomorrow {
  .card__availability {
    color: $old-rose;
  }


  .card__btn--cart {
    display: none;
  }

  .card__btn--tomorrow {
    display: block;
  }
}

.card--none {
  .card__availability {
    color: $old-rose;
  }


  .card__btn--cart {
    display: none;
  }

  .card__btn--none {
    display: block;
  }
}