.graph-modal__container {
  max-width: 1290px;
  width: 100%;
  // height: 840px;
  padding-top: 56px;
  // padding-top: 56px;
  padding-right: 11px;
  padding-bottom: 56px;
  // padding-left: 54px;
  padding-left: clamp(0.313rem, -0.921rem + 5.48vw, 3.5rem);
}




.page-modal {

  .simplebar-content {
    height: 746px;
    display: flex;
    justify-content: space-between;
    gap: 22px;
  }

  .simplebar-track.simplebar-vertical {
    top: 0;
    bottom: 0;
    width: 8px;
    border-radius: 9px;
    background-color: #e0e0e0;
  }

  .simplebar-scrollbar:before {
    // height: 561px;
    background: var(--accent-color);
    border-radius: 9px;
    inset: 0;
    opacity: 1;
  }

  .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 0;
    bottom: 0;
  }

  .simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
  }

  .simplebar-track.simplebar-horizontal {
    display: none;
  }


  &-title {
    padding-top: 7px;
    font-weight: 700;
    font-size: clamp(1.375rem, 1.133rem + 1.08vw, 2rem);
    margin-bottom: 13px;
  }

  &__content {
    // overflow-y: auto;
    height: 746px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;

    &--cashier {
      background-image:
        -webkit-image-set(url('../images/vacancies/cashier1x.png') type('image/png') 1x,
          url('../images/vacancies/cashier2x.png') type('image/png') 2x);
    }

    &--bicycle-courier {
      background-image:
        -webkit-image-set(url('../images/vacancies/bicycle-courier1x.png') type('image/png') 1x,
          url('../images/vacancies/bicycle-courier2x.png') type('image/png') 2x);
    }

    &--inside-salesman {
      background-image:
        -webkit-image-set(url('../images/vacancies/inside-salesman1x.png') type('image/png') 1x,
          url('../images/vacancies/inside-salesman2x.png') type('image/png') 2x);
    }

    &--inside-hall-manager {
      background-image:
        -webkit-image-set(url('../images/vacancies/inside-hall-manager1x.png') type('image/png') 1x,
          url('../images/vacancies/inside-hall-manager2x.png') type('image/png') 2x);
    }
  }

  &__content-left {
    padding-left: 90px;
    flex-shrink: 1;
  }

  &__list {
    margin-top: 54px;
  }


  &__item {
    &:not(:last-child) {
      margin-bottom: 37px;
    }
  }

  &__box-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: clamp(1.375rem, 1.133rem + 1.08vw, 2rem);
  }

  &__box-descr {
    font-size: clamp(1rem, 0.903rem + 0.43vw, 1.25rem);

    &:not(:last-child) {
      margin-bottom: 16px;
    }

  }


  &__content-right {
    margin-top: 6px;
    // margin-right: -30px;
    // padding: 31px 24px 36px;
    padding: clamp(0.938rem, 0.55rem + 1.72vw, 1.938rem) clamp(0.5rem, 0.113rem + 1.72vw, 1.5rem) clamp(0.938rem, 0.429rem + 2.26vw, 2.25rem);
    border: 1px solid $peach;
    border-radius: 16px;
    width: 443px;
    max-height: 464px;
    background: #ffecca;
    flex-shrink: 0;
  }



  .application-form {
    width: 100%;
  }

  .application-form__btn--inside {
    display: block;
    margin: 0 auto;
  }

  .application-form__btn--main {
    display: none;
  }

  .graph-modal__close {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    background-color: #f2f3f5;
    border-radius: 100%;
    @include transition ($transition-property: background-color);

    @media (any-hover: hover) {
      &:hover {
        // svg {
        background-color: #ffecca;
        // }
      }
    }

    svg {
      color: #AAA;
    }
  }

  .application-form .jq-selectbox__dropdown {
    top: 56px !important;
  }

  @media screen and (width < 1024.99px) {

    .simplebar-content {
      flex-direction: column;
    }

    &__content-left {
      padding-left: 0;
      margin: 0 auto;
      text-align: center;
    }

    &__content-right {
      margin: 0 auto;
      width: 90%;
    }
  }

  .fade {
    opacity: 0;
    transition: opacity var(--transition-time);
  }

  .fade.animate-open {
    opacity: 1;
    transition: opacity var(--transition-time);
  }

  .fadeInUp {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity var(--transition-time), transform var(--transition-time);
  }

  .fadeInUp.animate-open {
    opacity: 1;
    transform: translateY(0);
    transition: opacity var(--transition-time), transform var(--transition-time);
  }
}

.page-modal.page-order {

  .simplebar-content {
    width: 100%;
    height: 805px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.page-order.graph-modal__container {
  border-radius: 20px;
  // padding-top: 56px;
  padding-right: 11px;
  // padding-bottom: 56px;
  // padding-left: clamp(.313rem, -.921rem + 5.48vw, 3.5rem);
  padding-top: clamp(1.625rem, 0.899rem + 3.23vw, 3.5rem);
  // padding-right: clamp(0.875rem, -0.867rem + 7.74vw, 5.375rem);
  padding-bottom: clamp(0.938rem, -0.296rem + 5.48vw, 4.125rem);
  padding-left: clamp(1.625rem, 0.633rem + 4.41vw, 4.188rem);
}

.page-tracking.graph-modal__container {
  max-width: 577px;
  width: 100%;
  padding-top: 25px;
  padding-right: 38px;
  padding-bottom: 71px;
  padding-left: 30px;
}

.tracking.page-modal__content {
  height: 577px;
  display: block;
}