.section {}

.section-h1 {
  @extend %second-family-700;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--white);
}

.section-h2 {
  @extend %second-family-700;
  font-size: 38px;
  text-transform: uppercase;
  // color: $white;
}

.section-h3 {
  @extend %second-family-700;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--text);
}

.section-h4 {
  @extend %second-family-700;
  font-size: 22px;
  color: var(--text);
}