.section {}

.section-h1 {
  @extend %second-family-700;
  // font-size: 50px;
  font-size: clamp(1.063rem, 0.264rem + 3.55vw, 3.125rem);
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--white);
}

.section-h2 {
  @extend %second-family-700;
  // font-size: 38px;
  font-size: clamp(1.063rem, 0.554rem + 2.26vw, 2.375rem);
  text-transform: uppercase;
  // color: $white;
}

.section-h3 {
  @extend %second-family-700;
  // font-size: 32px;
  font-size: clamp(1.375rem, 1.133rem + 1.08vw, 2rem);
  text-transform: uppercase;
  color: var(--text);

  &--ttn {
    text-transform: none;
  }
}

.section-h4 {
  @extend %second-family-700;
  font-size: 22px;
  color: var(--text);
}

.section-h5 {
  @extend %second-family-600;
  font-size: 20px;
}