.section-catalog {
  // width: 1290px;
  width: clamp(34.75rem, 16.992rem + 78.92vw, 80.625rem);
  padding-top: 20px;
  display: flex;
  gap: 22px 24px;

  &:last-child {
    margin-bottom: 20px;
  }

  &__inner-title {}

  &__link {
    position: relative;
    // width: 304px;
    // height: 304px;
    width: clamp(8.188rem, 4.002rem + 18.6vw, 19rem);
    height: clamp(8.188rem, 4.002rem + 18.6vw, 19rem);
    // padding-top: 48px;

    @extend %second-family-600;
    // font-size: 30px;
    font-size: clamp(0.813rem, 0.401rem + 1.83vw, 1.875rem);
    line-height: 1.3;

    // border-radius: 58px;
    border-radius: clamp(1.563rem, 0.764rem + 3.55vw, 3.625rem);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    @include transition ($transition-property: (transform, box-shadow));

    @media (any-hover: hover) {
      &:hover {
        transform: translatey(-10px);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
      }
    }

    span {
      position: absolute;
      content: '';
      top: 15.5%;
      left: 13%;
    }
  }
}