.swiper-nav {
  margin-left: auto;
  padding: 9px 8px;
  color: $yellow;
  border: 1px solid $peach;
  border-radius: 58px;
  background: #fff8eb;

  @media screen and (width < 690.99px) {
    display: none;
  }
}