.swiper {
  padding-bottom: 35px;
}

.swiper-pagination {
  text-align: left;

  @media screen and (width > 610.99px) {
    display: none;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;

  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: rgb(255,
      4,
      0);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .6);
}

.swiper-pagination-bullet-active {
  border-radius: 30px;
  width: 24px;
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: $red;
}

.hero-arrow--next.swiper-button-disabled,
.hero-arrow--prev.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: auto;
}