.swiper-nav {
  margin-left: auto;
  padding: 9px 8px;
  color: $yellow;
  border: 1px solid #ffe7b9;
  border-radius: 58px;
  background: #fff8eb;

  @media screen and (width < 690.99px) {
    display: none;
  }


  // .swiper-nav__btn {

  //   svg {
  //     width: 29px;
  //     height: 29px;
  //     border-radius: 100%;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     background-color: transparent;
  //     padding: 9px 8px;

  //     @include transition ($transition-property: (color, background-color));
  //   }

  //   @media (any-hover: hover) {
  //     &:hover svg {
  //       color: $white;
  //       background-color: $yellow;
  //     }
  //   }
  // }

  // .swiper-nav-prev {
  //   svg {
  //     transform: rotate(180deg);
  //   }
  // }

  // .swiper-nav-next.swiper-button-disabled,
  // .swiper-nav-prev.swiper-button-disabled {
  //   opacity: 0.3;
  //   pointer-events: none;
  //   cursor: auto;
  // }

}