  .tabs-buttons__list {
    display: flex;
  }

  .tabs-buttons {
    border-radius: 16px;
    background-color: var(--serenade);
    border: 1px solid rgba(255, 169, 0, 0.45);
    @include transition ($transition-property: (border-color, border, color, border-radius));

    &--receiving {
      padding: 16px 22px;
      font-weight: 700;
      // width: 221px;
      // height: 87px;
      // font-size: 20px;
      color: var(--cod-gray);
      text-align: left;

      &__text {
        display: block;
        margin-top: 6px;
        @extend %second-family-600;
        font-size: 16px;
      }
    }

    &--catalog {
      // padding: 8px 24px;
      padding: clamp(0.063rem, -0.107rem + 0.75vw, 0.5rem) clamp(0.313rem, -0.147rem + 2.04vw, 1.5rem);
      font-weight: 600;
      // font-size: 16px;
      font-size: clamp(0.75rem, 0.653rem + 0.43vw, 1rem);
      text-align: center;
      text-wrap: nowrap;
      // color: var(--text);
    }

    &--contacts {
      padding: 8px 24px;
      font-weight: 500;
      font-size: 15px;
      text-align: center;
      color: var(--red);
      background-color: transparent;
      border-radius: 8px;
      border: 0.51px solid var(--red);
    }
  }

  // .mixitup-control-active {
  //   border: 1px solid var(--yellow);
  //   background: var(--yellow);
  //   color: var(--white);
  // }