.user {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $mercury;
    border-radius: 16px;
    width: 50px;
    // height: 48px;
    height: clamp(2.063rem, 1.575rem + 2.17vw, 3rem);
    color: $mercury;
    background-color: var(--white);

    @include transition ($transition-property: border);

    @media (any-hover: hover) {
      &:hover {
        border: 1px solid var(--yellow);
        background-color: $serenade;
        color: $yellow;
      }
    }
  }

  &__go-login {
    position: absolute;
    top: 84px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    visibility: hidden;
    @include transition ($transition-property: (visibility, opacity));
  }

  &:hover .user__go-login {
    visibility: visible;
    opacity: 1;
    z-index: 12;
  }

  @media screen and (width < 768.99px) {
    svg {
      width: 13px;
      height: 14px;
    }
  }
}